[submodule "src"]
	path = src
	url = https://github.com/because-why-not/webrtc_visionpro.git
	branch = xros_only
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
